body,
html{
	margin:0;
	padding:0;
	background-color: white;
	font-family: 'Lato', sans-serif;
	letter-spacing: 2px;
	scroll-behavior: smooth;
}

nav a:hover{
	text-decoration:none;
	color: #ea9c14;
	transition: 0.5s;
}

nav{
	position: relative;
	display:inline-block;
	background-color: #624cd5;
	width: 100%;
	top: 0;
	margin: 0;
	position: scroll;
}

nav a{
	float: right;
	margin-top: 15px;
	margin-right: 50px;
	padding: 40px;
	color: white;
	font-weight: 800;
	font-size: 20px;
	text-decoration:none;
	line-height:1;
	text-transform: uppercase;
}
nav img{
	width: 150px;
	height: auto;
	margin-top: -10px;
	margin-left: 20px;
	padding: 0px;
}
.sdnav{
    display: none;
}
.sdnav img{
    margin-left: 1080px;
    height: 50px;
    width: 100px;
    margin-top: -50px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #624cd5;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 12px 12px 12px 32px;
    text-decoration: none;
    font-size: 25px;
    float: left;
    color: #ffffff;
    display: block;
	transition: 0.5s;
	font-weight: bold;
}

.sidenav a:hover {
    color: #000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
	margin-left: 50px;
	color: white;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 15px;}
}
.fronta{
	width: 100%;
	margin: auto;
	background-image: url("../imgs/hire1.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: 55% 130%;
    height: 270px;
  }
.frontb p{
	text-align: center;
	color: #624cd5;
	font-size: 28px;
	font-weight: bold;
}
.find{
	background-color: #624cd5;
	border-radius: 50px;
	outline: none;
	display: inline-block;
	padding: 0;
	width: 20%;
	margin-left: 20%;
	transition: all 0.6s;
}
.post{
	background-color: #624cd5;
	border-radius: 50px;
	outline: none;
	display: inline-block;
	padding: 0;
	width: 20%;
	margin-left: 20%;
	transition: all 0.6s;
	text-decoration: none;
}
.find:hover{
	background-color: #ea9c14;
	transition: 0.6s;
}
.post:hover{
	background-color: #ea9c14;
	transition: 0.6s;
}
#p1, #p2{
font-size: 20px;
color: white;
margin: 20px;
font-weight: 800;
text-align: center;
}
.find #p1:hover{
	text-decoration: none;
	transition: all 0.6s;
}
.post #p2:hover{
	text-decoration: none;
	transition: all .6s;
}
lottie-player{
	width: 300px;
	height: 300px;
}
.col-sm{
	font-weight: bolder;
	color: #624cd5;
	border: 2px solid #ea9c14;
	border-radius: 15px;
	margin: 10px;
}
.howitworks h1,h2, p{
	color: #624cd5;
}
/*hamburger menu*/

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
	nav{
		display: none;
		position: relative;
		display:inline-block;
		background-color: #624cd5;
		width: 100%;
		top: 0;
		margin: 0;
		position: scroll;
	}
	nav a{
		margin: 1px;
		color: white;
		font-weight: normal;
		font-size: 6px;
		text-decoration:none;
	}

	.sdnav{
		display: none;
		background-color: #624cd5;
    }
    .sidenav {
		display: none;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #624cd5;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        display: block;
    }
    
    .sidenav a {
        padding: 18px 18px 18px 42px;
        text-decoration: none;
        font-size: 19px;
        float: left;
        color: #ffffff;
        display: block;
        transition: 0.5s;
        margin: 15px 0;
        overflow: hidden;
    }
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 30px;
        margin-left: 20px;
    }
	.fronta{
		width: 100%;
		margin: auto;
		background-image: url("../imgs/hire1.png");
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: center;
		background-size: 120% 120%;
		height: 200px;
	  }
	.frontb p{
		text-align: center;
		color: rgb(98, 76, 213);
		font-size: 22px;
		font-weight: 800;
	}
	.find{
		background-color: #624cd5;
		border-radius: 15px;
		outline: none;
		display: block;
		width: 50%;
		margin: auto;
		transition: all 0.6s;
	}
	.post{
		background-color: #624cd5;
		border-radius: 15px;
		outline: none;
		display: block;
		width: 50%;
		margin: auto;
		transition: all 0.6s;
	}
	.find:hover{
		background-color: #ea9c14;
		transition: 0.6s;
	}
	.post:hover{
		background-color: #ea9c14;
		transition: 0.6s;
	}
	#p1, #p2{
	font-size: 20px;
	color: white;
	margin: 20px;
	font-weight: 600;
	text-align: center;
	}
	#p1:hover{
		text-decoration: none;
	}
	#p2:hover{
		text-decoration: none;
	}

}
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
	nav{
		position: relative;
		display:inline-block;
		background-color: #624cd5;
		width: 100%;
		top: 0;
		margin: 0;
		position: scroll;
	}
	nav a{
		display: none;
		margin: 1px;
		color: white;
		font-weight: normal;
		font-size: 6px;
		text-decoration:none;
	}
	nav img{
		display: none;
		max-width: 20%;
		height: auto;
		margin-top: 0px;
		margin-left: -15px;
		padding: 10px;
	}
	.sdnav{
		display: block;
		background-color: #624cd5;
    }
    .sdnav img{
        margin-left: 180px;
        height: 50px;
        width: 100px;
		margin-top: -10px;
		display: none;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #624cd5;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        display: block;
    }
    
    .sidenav a {
        padding: 18px 18px 18px 42px;
        text-decoration: none;
        font-size: 19px;
        float: left;
        color: #ffffff;
        display: block;
        transition: 0.5s;
        margin: 15px 0;
        overflow: hidden;
    }
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 30px;
        margin-left: 20px;
    }
	.fronta{
		width: 100%;
		margin: auto;
		background-image: url("../imgs/hire1.png");
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: center;
		background-size: 100% 120%;
		height: 200px;
	  }
	.frontb p{
		text-align: center;
		color: rgb(98, 76, 213);
		font-size: 22px;
		font-weight: 800;
	}
	.find{
		background-color: #624cd5;
		border-radius: 15px;
		outline: none;
		display: block;
		width: 50%;
		margin: auto;
		transition: all 0.6s;
	}
	.post{
		background-color: #624cd5;
		border-radius: 15px;
		outline: none;
		display: block;
		width: 50%;
		margin: auto;
		transition: all 0.6s;
	}
	.find:hover{
		background-color: #ea9c14;
		transition: 0.6s;
	}
	.post:hover{
		background-color: #ea9c14;
		transition: 0.6s;
	}
	#p1, #p2{
	font-size: 20px;
	color: white;
	margin: 20px;
	font-weight: 600;
	text-align: center;
	}
	#p1:hover{
		text-decoration: none;
	}
	#p2:hover{
		text-decoration: none;
	}
}
/* ----------- Android ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 576px)
  and (-webkit-min-device-pixel-ratio: 2) {
	nav{
		display: none;
		position: relative;
		display:inline-block;
		background-color: #624cd5;
		width: 100%;
		top: 0;
		margin: 0;
		position: scroll;
	}
	nav a{
		display: none;
		margin: 1px;
		color: white;
		font-weight: normal;
		font-size: 6px;
		text-decoration:none;
	}
	nav img{
		display: none;
		max-width: 20%;
		height: auto;
		margin-top: 0px;
		margin-left: -15px;
		padding: 10px;
	}
	.sdnav{
		padding: 5px;
		display: block;
		background-color: #624cd5;
    }
    .sidenav a img{
        height: 50px;
		width: 100px;
		display: none;	
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #624cd5;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        display: block;
    }
    
    .sidenav a {
        padding: 18px 18px 18px 42px;
        text-decoration: none;
        font-size: 19px;
        float: left;
        color: #ffffff;
        display: block;
        transition: 0.5s;
        margin: 15px 0;
		overflow: hidden;
    }
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 30px;
        margin-left: 20px;
    }
	.fronta{
		width: 100%;
		margin: auto;
		background-image: url("../imgs/hire1.png");
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: center;
		background-size: 120% 130%;
		height: 200px;
	  }
	.frontb p{
		text-align: center;
		color: rgb(98, 76, 213);
		font-size: 22px;
		font-weight: 800;
	}
	.find{
		background-color: #624cd5;
		border-radius: 15px;
		outline: none;
		display: block;
		width: 50%;
		margin: auto;
		transition: all 0.6s;
	}
	.post{
		background-color: #624cd5;
		border-radius: 15px;
		outline: none;
		display: block;
		width: 50%;
		margin: auto;
		transition: all 0.6s;
	}
	.find:hover{
		background-color: #ea9c14;
		transition: 0.6s;
	}
	.post:hover{
		background-color: #ea9c14;
		transition: 0.6s;
	}
	#p1, #p2{
	font-size: 20px;
	color: white;
	margin: 20px;
	font-weight: 600;
	text-align: center;
	padding: 5px;
	}
	#p1:hover{
		text-decoration: none;
	}
	#p2:hover{
		text-decoration: none;
	}
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
	nav{
		display: none;
		position: relative;
		display:inline-block;
		background-color: #624cd5;
		width: 100%;
		top: 0;
		margin: 0;
		position: scroll;
	}
	nav a{
		display: none;
		margin: 1px;
		color: white;
		font-weight: normal;
		font-size: 6px;
		text-decoration:none;
	}
	nav img{
		display: none;
		max-width: 20%;
		height: auto;
		margin-top: 0px;
		margin-left: -15px;
		padding: 10px;
	}
	.sdnav{
		display: block;
		background-color: #624cd5;
    }
    .sdnav img{
        margin-left: 180px;
        height: 50px;
        width: 100px;
		margin-top: -10px;
		display: none;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #624cd5;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        display: block;
    }
    
    .sidenav a {
        padding: 18px 18px 18px 42px;
        text-decoration: none;
        font-size: 19px;
        float: left;
        color: #ffffff;
        display: block;
        transition: 0.5s;
        margin: 15px 0;
        overflow: hidden;
    }
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 30px;
        margin-left: 20px;
    }
	.fronta{
		width: 100%;
		margin: auto;
		background-image: url("../imgs/hire1.png");
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: center;
		background-size: 110% 130%;
		height: 200px;
	  }
	.frontb p{
		text-align: center;
		color: rgb(98, 76, 213);
		font-size: 22px;
		font-weight: 800;
	}
	.find{
		background-color: #624cd5;
		border-radius: 15px;
		outline: none;
		display: block;
		width: 50%;
		margin: auto;
		transition: all 0.6s;
	}
	.post{
		background-color: #624cd5;
		border-radius: 15px;
		outline: none;
		display: block;
		width: 50%;
		margin: auto;
		transition: all 0.6s;
	}
	.find:hover{
		background-color: #ea9c14;
		transition: 0.6s;
	}
	.post:hover{
		background-color: #ea9c14;
		transition: 0.6s;
	}
	#p1, #p2{
	font-size: 20px;
	color: white;
	margin: 20px;
	font-weight: 600;
	text-align: center;
	}
	#p1:hover{
		text-decoration: none;
	}
	#p2:hover{
		text-decoration: none;
	}
}
/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
	nav{
		display: none;
		position: relative;
		display:inline-block;
		background-color: #624cd5;
		width: 100%;
		top: 0;
		margin: 0;
		position: scroll;
	}
	nav a{
		display: none;
		margin: 1px;
		color: white;
		font-weight: normal;
		font-size: 6px;
		text-decoration:none;
	}
	nav img{
		display: none;
		max-width: 20%;
		height: auto;
		margin-top: 0px;
		margin-left: -15px;
		padding: 10px;
	}
	.sdnav{
		display: block;
		background-color: #624cd5;
    }
    .sdnav img{
        margin-left: 180px;
        height: 50px;
        width: 100px;
		margin-top: -10px;
		display: none;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #624cd5;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        display: block;
    }
    
    .sidenav a {
        padding: 18px 18px 18px 42px;
        text-decoration: none;
        font-size: 19px;
        float: left;
        color: #ffffff;
        display: block;
        transition: 0.5s;
        margin: 15px 0;
        overflow: hidden;
    }
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 30px;
        margin-left: 20px;
    }
	.fronta{
		width: 100%;
		margin: auto;
		background-image: url("../imgs/hire1.png");
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: center;
		background-size: 80% 130%;
		height: 200px;
	  }
	.frontb p{
		text-align: center;
		color: rgb(98, 76, 213);
		font-size: 22px;
		font-weight: 800;
	}
	.find{
		background-color: #624cd5;
		border-radius: 15px;
		outline: none;
		display: block;
		width: 50%;
		margin: auto;
		transition: all 0.6s;
	}
	.post{
		background-color: #624cd5;
		border-radius: 15px;
		outline: none;
		display: block;
		width: 50%;
		margin: auto;
		transition: all 0.6s;
	}
	.find:hover{
		background-color: #ea9c14;
		transition: 0.6s;
	}
	.post:hover{
		background-color: #ea9c14;
		transition: 0.6s;
	}
	#p1, #p2{
	font-size: 20px;
	color: white;
	margin: 20px;
	font-weight: 600;
	text-align: center;
	}
	#p1:hover{
		text-decoration: none;
	}
	#p2:hover{
		text-decoration: none;
	}
}
/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
	nav{
		display: none;
		position: relative;
		display:inline-block;
		background-color: #624cd5;
		width: 100%;
		top: 0;
		margin: 0;
		position: scroll;
	}
	nav a{
		display: none;
		margin: 1px;
		color: white;
		font-weight: normal;
		font-size: 6px;
		text-decoration:none;
	}
	nav img{
		display: none;
		max-width: 20%;
		height: auto;
		margin-top: 0px;
		margin-left: -15px;
		padding: 10px;
	}
	.sdnav{
		display: block;
		background-color: #624cd5;
    }
    .sdnav img{
        margin-left: 180px;
        height: 50px;
        width: 100px;
		margin-top: -10px;
		display: none;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #624cd5;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        display: block;
    }
    
    .sidenav a {
        padding: 18px 18px 18px 42px;
        text-decoration: none;
        font-size: 19px;
        float: left;
        color: #ffffff;
        display: block;
        transition: 0.5s;
        margin: 15px 0;
        overflow: hidden;
    }
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 30px;
        margin-left: 20px;
    }
	.fronta{
		width: 100%;
		margin: auto;
		background-image: url("../imgs/hire1.png");
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: center;
		background-size: 80% 130%;
		height: 200px;
	  }
	.frontb p{
		text-align: center;
		color: rgb(98, 76, 213);
		font-size: 22px;
		font-weight: 800;
	}
	.find{
		background-color: #624cd5;
		border-radius: 15px;
		outline: none;
		display: block;
		width: 50%;
		margin: auto;
		transition: all 0.6s;
	}
	.post{
		background-color: #624cd5;
		border-radius: 15px;
		outline: none;
		display: block;
		width: 50%;
		margin: auto;
		transition: all 0.6s;
	}
	.find:hover{
		background-color: #ea9c14;
		transition: 0.6s;
	}
	.post:hover{
		background-color: #ea9c14;
		transition: 0.6s;
	}
	#p1, #p2{
	font-size: 20px;
	color: white;
	margin: 20px;
	font-weight: 600;
	text-align: center;
	}
	#p1:hover{
		text-decoration: none;
	}
	#p2:hover{
		text-decoration: none;
	}
}
/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
	body,
	html{
		margin:0;
		padding:0;
		background-color: white;
		font-family: 'Lato', sans-serif;
		letter-spacing: 2px;
		scroll-behavior: smooth;
	}
	
	nav a:hover{
		text-decoration:none;
		color: #ea9c14;
		transition: 0.5s;
	}
	
	nav{
		position: relative;
		display:inline-block;
		background-color: #624cd5;
		width: 100%;
		top: 0;
		margin: 0;
		position: scroll;
	}
	
	nav a{
		float: right;
		margin: 1px;
		margin-right: 50px;
		padding: 1px;
		margin-top: 30px;
		color: white;
		font-weight: 800;
		font-size: 13px;
		text-decoration:none;
		line-height:1;
		text-transform: uppercase;
	}
	nav img{
		width: 150px;
		height: auto;
		margin-top: 0px;
		margin-left: -10px;
		padding: 5px;
	}
	.sdnav{
		display: none;
	}
	.sdnav img{
		margin-left: 1080px;
		height: 50px;
		width: 100px;
		margin-top: -50px;
	}
	.sidenav {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: #624cd5;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;
	}
	
	.sidenav a {
		padding: 12px 12px 12px 32px;
		text-decoration: none;
		font-size: 25px;
		float: left;
		color: #ffffff;
		display: block;
		transition: 0.5s;
	}
	
	.sidenav a:hover {
		color: #000;
	}
	
	.sidenav .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}
	
	@media screen and (max-height: 450px) {
	  .sidenav {padding-top: 15px;}
	  .sidenav a {font-size: 15px;}
	}
	.fronta{
		width: 100%;
		margin: auto;
		background-image: url("../imgs/hire1.png");
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: center;
		background-size: 55% 130%;
		height: 270px;
	  }
	.frontb p{
		text-align: center;
		color: #624cd5;
		font-size: 28px;
		font-weight: bold;
	}
	.find{
		background-color: #624cd5;
		border-radius: 50px;
		outline: none;
		display: inline-block;
		padding: 0;
		width: 20%;
		margin-left: 20%;
		transition: all 0.6s;
	}
	.post{
		background-color: #624cd5;
		border-radius: 50px;
		outline: none;
		display: inline-block;
		padding: 0;
		width: 20%;
		margin-left: 20%;
		transition: all 0.6s;
		text-decoration: none;
	}
	.find:hover{
		background-color: #ea9c14;
		transition: 0.6s;
	}
	.post:hover{
		background-color: #ea9c14;
		transition: 0.6s;
	}
	#p1, #p2{
	font-size: 20px;
	color: white;
	margin: 20px;
	font-weight: 800;
	text-align: center;
	}
	.find #p1:hover{
		text-decoration: none;
		transition: all 0.6s;
	}
	.post #p2:hover{
		text-decoration: none;
		transition: all .6s;
	}
	/*hamburger menu*/
	
	
}
/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
	body,
	html{
		margin:0;
		padding:0;
		background-color: white;
		font-family: 'Lato', sans-serif;
		letter-spacing: 2px;
		scroll-behavior: smooth;
	}
	
	nav a:hover{
		text-decoration:none;
		color: #ea9c14;
		transition: 0.5s;
	}
	
	nav{
		position: relative;
		display:inline-block;
		background-color: #624cd5;
		width: 100%;
		top: 0;
		margin: 0;
		position: scroll;
	}
	
	nav a{
		float: right;
		margin: 1px;
		margin-right: 50px;
		padding: 1px;
		margin-top: 40px;
		color: white;
		font-weight: 800;
		font-size: 22px;
		text-decoration:none;
		line-height:1;
		text-transform: uppercase;
	}
	nav img{
		width: 180px;
		height: auto;
		margin-top: 0px;
		margin-left: -10px;
		padding: 5px;
	}
	.sdnav{
		display: none;
	}
	.sdnav img{
		margin-left: 1080px;
		height: 50px;
		width: 100px;
		margin-top: -50px;
	}
	.sidenav {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: #624cd5;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;
	}
	
	.sidenav a {
		padding: 12px 12px 12px 32px;
		text-decoration: none;
		font-size: 25px;
		float: left;
		color: #ffffff;
		display: block;
		transition: 0.5s;
	}
	
	.sidenav a:hover {
		color: #000;
	}
	
	.sidenav .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}
	
	@media screen and (max-height: 450px) {
	  .sidenav {padding-top: 15px;}
	  .sidenav a {font-size: 15px;}
	}
	.fronta{
		width: 100%;
		margin: auto;
		background-image: url("../imgs/hire1.png");
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: center;
		background-size: 55% 130%;
		height: 270px;
	  }
	.frontb p{
		text-align: center;
		color: #624cd5;
		font-size: 28px;
		font-weight: bold;
	}
	.find{
		background-color: #624cd5;
		border-radius: 50px;
		outline: none;
		display: inline-block;
		padding: 0;
		width: 20%;
		margin-left: 20%;
		transition: all 0.6s;
	}
	.post{
		background-color: #624cd5;
		border-radius: 50px;
		outline: none;
		display: inline-block;
		padding: 0;
		width: 20%;
		margin-left: 20%;
		transition: all 0.6s;
		text-decoration: none;
	}
	.find:hover{
		background-color: #ea9c14;
		transition: 0.6s;
	}
	.post:hover{
		background-color: #ea9c14;
		transition: 0.6s;
	}
	#p1, #p2{
	font-size: 20px;
	color: white;
	margin: 20px;
	font-weight: 800;
	text-align: center;
	}
	.find #p1:hover{
		text-decoration: none;
		transition: all 0.6s;
	}
	.post #p2:hover{
		text-decoration: none;
		transition: all .6s;
	}
	/*hamburger menu*/
}
